.edit-password {
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: auto;
  margin: auto;
  &__container {
    margin: 0px 60px;
    height: 100%;
    padding-top: calc(50px);
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  &__info {
    width: 512px;
    align-items: center;
  }
}
