<div class="edit-password__container">
    {{>btnBack/btnBack class="edit-password__btn-back" link="../profile/profile"}}
    <div class="edit-password__info">
        {{>itemProfile/itemProfile class="edit-password__line-current-pswd" text-left="Current Password"
        text-right="********"}}
        {{>input/input class="edit-password__line-pswd" text="New Password" type="password" placeholder="********"}}
        {{>input/input class="edit-password__line-pswd" text="Confirm Password" type="password"
        placeholder="********"}}
        {{>button/button text="Save" class="edit-password__button-save" link="../profile/profile"}}
    </div>
</div>