<div class="avatar {{class}}">
    <label for="avatar-file" class="avatar__label"><img src="../../assets/avatar-circle.svg" id="output" alt="avatar"
            class="avatar__circle">

        <img src="../../assets/avatar-img.svg" alt="avatar" class="avatar__img">
        <img src="../../assets/avatar-circle2.svg" alt="avatar" class="avatar__second-circle">

    </label>
    <input id="avatar-file" type="file"></input>

</div>