.auth {
  background-image: url("/src/assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.auth-form {
  max-width: 510px;
  /* max-height: 675px; */
  margin: auto;
  margin-top: calc(100px);
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 0px 6px rgba(244, 163, 67, 0.14);
  border-radius: 12px;
}
.auth-form {
  &__title {
    font-size: 20px;
    font-weight: 500;
  }
  &__header {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  &__main {
    padding: 0px 30px;
  }
  &__footer {
    position: relative;
    padding: 0px 30px;
    padding-bottom: 30px;
  }
  &__sign-in-button {
    margin-top: 219px;
  }
}
