<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#each css}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
  <title>title</title>
</head>

<body class="empty">
  <section class="empty__alert">
    <div>
      <h1 class="empty__title">{{title}}</h1>
      <h2>{{description}}</h2>
      <a href="/">Go back to main page</a>
    </div>
  </section>
</body>

</html>